.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.project {
  width: 200px;
  height: 200px; 
  font-size: 8em;
  text-align: center;
}
#project1 {
  background-color: hsl(0, 100%, 70%);
}
#project2 {
  background-color: hsl(30, 100%, 70%);
}
#project3 {
  background-color: hsl(60, 100%, 70%);
}
#project4 {
  background-color: hsl(90, 100%, 70%);
}
#project5 {
  background-color: hsl(120, 100%, 70%);
}
#project6 {
  background-color: hsl(180, 100%, 70%);
}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
